@font-face {
  font-family: NEXTBook;
  src: url(fonts/NEXTBook-Regular.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NEXTBook;
  src: url(fonts/NEXTBook-Italic.otf) format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: NEXTBook;
  src: url(fonts/NEXTBook-Light.otf) format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: NEXTBook;
  src: url(fonts/NEXTBook-LightItalic.otf) format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: NEXTBook;
  src: url(fonts/NEXTBook-Medium.otf) format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: NEXTBook;
  src: url(fonts/NEXTBook-MediumItalic.otf) format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: NEXTBook;
  src: url(fonts/NEXTBook-Thin.otf) format('opentype');
  font-weight: 100;
  font-style: normal;
}

html {
  font-size: 24px;
}

body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
  position: absolute;

  font-size: 1rem;
  line-height: 1.5rem;
}

html, body {
  background-color: black;
}

#app {
  font-family: NEXTBook, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  height: 100%;
}

#app, a, a:visited {
  color: #f3f3f3;
}

h1 {
  font-size: 4.0833333rem;
  /* line-height: 4.875rem; */
  margin-top: 1.625rem;
  margin-bottom: 3.25rem;
}

h2 {
  font-size: 2.5416667rem;
  line-height: 3.25rem;
  line-height: .8em;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.message {
  box-sizing: border-box;
  text-align: center;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.horizontal-line {
  background-color: white;
  height: 4px;
  margin: 1em 0;
  flex-shrink: 0;
}

.vertical-line {
  background-color: white;
  width: 4px;
  margin: 0 1em;
  flex-shrink: 0;
}

.dutch h1,
.dutch h2,
.dutch h3 {
  font-weight: normal;
}

.dutch {
  font-weight: normal;
}

.english h1,
.english h2,
.english h3 {
  font-weight: 300;
}

.english {
  font-weight: 300;
}

button {
  font-size: 100%;
  color: white;
  font-family: NEXTBook, Helvetica, Arial, sans-serif;
  text-decoration: underline;
  border-color: white;
  border-style: solid;
  padding: .4em .8em;
  border-radius: 5px;
  background: none;
  box-sizing: border-box;
}

button:hover, button:active {
  background-color: rgba(255, 255, 255, .3);
}